<div class="book-details">
    <h2>Book Details</h2>
    <table>
        <tr>
            <th scope="row">Author:</th>
            <td class="author">{{ book.author }}</td>
        </tr>
        <tr>
            <th scope="row">Title:</th>
            <td class="title">{{ book.title }}</td>
        </tr>
        <tr>
            <th scope="row">Series:</th>
            <td class="series">{{ book.series }}</td>
        </tr>
        <tr>
            <th scope="row">Book #:</th>
            <td class="bookNumber">{{ book.bookNumber }}</td>
        </tr>
        <tr>
            <th scope="row">Narator:</th>
            <td class="narator">{{ book.narator }}</td>
        </tr>
    </table>
</div>